# QUESTION : 1

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [11]:
a = 0          
def b():       
    global a      
    a = c(a)      
def c(a):      
    return a + 2  
b()
b()
b()
a

6

Value is displayed as 6 when the last expression a is evaluated. When we execute b() for the first time, a takes the value as specified in function c. In function c value becomes 2 and  that value is transferred to function b and in function b, a = 2.
When we execute b() for the second time, in the function c value becomes 4 and value is transferred to function b and in function b, a = 4. Similarly when we execute b() for the third time, in the function c value becomes 6 and then the value is transferred to function b and in function b, a = 6. In the end when we execute a then the value of a is 6 and is displayed as output.

# QUESTION : 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
 File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
 FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
 As shown above, if the file cannot be found by the interpreter or if it cannot be read
 as a text file, an exception will be raised. Modify function fileLength() so that a
 friendly message is printed instead:
>>> fileLength('midterm.py')
    358
>>> fileLength('idterm.py')
    File idterm.py not found.

In [18]:
def Filelength(file_name): # defining a function Filelength() take the name of a file as input and returns the length of file
    try:
        file = open(file_name) #opening file to read contents
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError as file_error_customized: 
        print('File {} not found'.format(file_name))  # Printing the error 
        
Filelength('midterm.py')  
Filelength('idterm.py')

123
File idterm.py not found

# Question : 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [24]:
class Marsupial:
    def __init__(self):
        self.pouch=[];
    def put_in_pouch(self,item):
        self.pouch.append(item)
    def pouch_contents(self):
        print(self.pouch)

m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [28]:
class Kangaroo(Marsupial):
    def __init__(self,xcoord, ycoord):
        self.x=xcoord
        self.y=ycoord
        Marsupial.__init__(self)
    def __repr__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)
    def jump(self,xcoord,ycoord):
        self.x+=xcoord
        self.y+=ycoord

#Calling a function      
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question : 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [19]:
def collatz(n):
    print(n)
    if(n==1):
        return
    if(n%2==0):
        collatz((int)(n/2))
    else:
        collatz(3*n+1) 
        
collatz(1)

1

In [20]:
collatz(10)

10
5
16
8
4
2
1

# Question : 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [21]:
def binary(n):
    if(n>0):
        binary((int)(n/2))
        print(n%2)
    else:
        return 0
    
binary(0)

0

In [35]:
binary(1)

1

In [36]:
binary(3)

1
1

In [37]:
binary(9)

1
0
0
1

# Question : 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [38]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    tag1 = ""
    
    def handle_starttag(self, tag, arrgs):
        global tag1
        tag1=tag
                
    def handle_data(self, data):
        global tag1
        if(tag1 == "h1"):
            print(" "+data)
        elif(tag1 == "h2"):
            print("  "+data)
            
infile = open("w3c.html") 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

 W3C Mission


  Principles

# Question : 7
    
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [23]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Web(HTMLParser):
    

    def __init__(self, url): 
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def append(self):
        
        return self.links




    def handle_starttag(self, tag, attributes): #function to collect hyperlinks
        for attr in attributes:
            attrs = urljoin(self.url, attr[1])
            if attrs[:4] == 'http': 
                self.links.append(attrs)
j = 0
def webdir(url, depth, j):
   

    depth = depth - 1    
    print(j*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Web(url)
    collection.feed(objective)
    urls = collection.append() 
 
    links = urls
    j = j + 4


    for link in links:
        if j < 0 or depth < 0:
            return 1
        else:
            webdir(link, depth, j)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [4]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\aiswarya\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: matplotlib-inline in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\users\aiswarya\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\aiswarya\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\aiswarya\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aiswarya\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [7]:
import sqlite3
conn = sqlite3.connect("problemsettwo.db")
sql=conn.cursor()
sql.execute("Create table Temp(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Winter',24.8,5.9)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Spring',28.4,16.2)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Summer',27.9,1549.4)")
sql.execute("INSERT INTO Temp VALUES('Mumbai','India','Fall',27.6,346.0)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Winter',4.2,207.7)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Spring',8.3,169.6)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Summer',15.7,157.0)")
sql.execute("INSERT INTO Temp VALUES('London','United Kingdom','Fall',10.4,218.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Winter',13.6,16.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Spring',20.7,6.5)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Summer',27.7,0.1)")
sql.execute("INSERT INTO Temp VALUES('Cairo','Egypt','Fall',22.2,4.5)")

a) All the temperature data

In [24]:
sql.execute("SELECT Temperature FROM Temp")
temperature=sql.fetchall()
for i in temperature:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition.

In [9]:
sql.execute("SELECT DISTINCT City FROM Temp")
City=sql.fetchall()
for i in City:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India

In [10]:
sql.execute("SELECT * FROM Temp WHERE Country=='India'")
India=sql.fetchall()
for i in India:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d)All the Fall records

In [11]:
sql.execute("SELECT * FROM Temp WHERE Season=='Fall'")
Fall=sql.fetchall()
for i in Fall:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [12]:
sql.execute("SELECT City,Country,Season FROM Temp WHERE Rainfall BETWEEN 200 AND 400")
Avg=sql.fetchall()
for i in Avg:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [13]:
sql.execute("SELECT city,country,Temperature FROM temp WHERE season=='Fall' AND temperature>20 ORDER BY temperature ASC")
Degree=sql.fetchall()
for i in Degree:
    print(i)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

g) The total annual rainfall for Cairo

In [14]:
sql.execute("SELECT SUM(Rainfall) FROM temp WHERE City='Cairo'")
Sum=sql.fetchall()
for i in Sum:
    print(i)

(27.6,)

h) The total rainfall for each season.

In [15]:
sql.execute("SELECT season,SUM(rainfall) FROM temp GROUP BY season")
Total=sql.fetchall()
print(Total)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question :  9 
 
 Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
  a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
     'LAZY', 'DOG']
  b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
     'lazy', 'dog']
  c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
     words).
  d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
     'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
     ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
     4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
     words, where each list contains the word in uppercase and lowercase and the
     length of the word.)
  e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
     'lazy', 'dog'] (the list of words in list words containing 4 or more
     characters.)

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Upper = [x.upper() for x in words]
Lower = [x.lower() for x in words]
Length = [len(x) for x in words]
Newlist = [(x.upper(),x.lower(),len(x)) for x in words]
Four = [x for x in words if len(x) >= 4]

print(Upper)
print(Lower)
print(Length)
print(Newlist)
print(Four)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']